.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  }

.innerWrapper {
    max-width: 920px;
    margin: 0 auto;
}

h2, h4 {
    font-family: 'Abril Fatface', serif;
}

h2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 100px;
    margin: 0 0 30px 0;
}

/* NAV SECTION */
img{
    width: 300px;
    height: 70px;
}

.logo {
    padding: 5px;
    height: 80px;
    margin: 0;
    float: left;
    color: #fff;
    width: 30%;
    background: rgba(226, 224, 226, 0.7);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: left;
    font-variant: small-caps;
}

nav {
    padding: 0;
    margin: 0;
    width: 70%;
    float: right;
}


header nav ul {
    float: right;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
}

header nav ul li {
    float: left;
    margin: 0;
    display: inline;
    width: 20%;
    text-align: center;
    background: rgba(226, 224, 226, 0.7);
}

header nav ul li:hover {
    background: none;
    transform: scale(1.2);
}

header nav ul li a {
    text-decoration: none;
    padding: 25px 20px;
    color: #fff;
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

header nav ul li a:focus {
    outline: none;
}

/* HEAD SECTION */

header {
    background: #000000;
    background-size: cover;
    background-attachment: fixed;
}

.hero {
    text-align: center;
    text-shadow: 1px 0 2px #595859;
}

.hero h1 {
    font-size: 5.5rem;
    margin:0;
    padding-top: 200px;
    font-family: 'Abril Fatface', serif;
    color: #fff;
}

.hero h3 {
    padding-bottom: 250px;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0;
}


@media (max-width:900px) {
    .companyName {
        width: 100%;
        text-align: center;
        padding: 4% 4%;
    }

    .mainNav {
        width: 100%;
    }

    header nav ul {
        border: none;
    }

    header nav ul li a {
        padding: 25px 2%;
    }
}

body{
    background: url("pics/brickwall.png");
}

.item img{
    width: 100%;
    max-height: 360px;
}

.products{
    margin: auto;
}

.products table{
    margin: auto;
}

.products td {
    margin: auto;
    width: 38%;

}
.products tr {

}
.products img{
    padding-top: 40px;
   height: 300px;
    width: 250px;
}

.cart{
    margin:auto;
    padding-top: 20px;
    float: inherit;
    height: 0;
    width: 900px;
    position: absolute;
}

.cart a{
    float: inherit;
}

.cart img{
    height: 30px;
    width: 30px;
    float: inherit;
}

.badge{
    float: inherit;
}

.container p{
    margin: auto;
    padding: 30px;
}